@model IEnumerable<MVC_PartialView_Demo.Models.Employee>

@DateTime.Now.ToLongTimeString()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentID)
        </td>
    </tr>
}

</table>
